---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeroSection from "@/components/homepage/HeroSection";
import ValueSection from "@/components/homepage/ValueSection";
import FeaturesSection from "@/components/homepage/FeaturesSection";
import ValuesSection from "@/components/homepage/ValuesSection";
---

<BaseLayout title="Tembo Tech Ventures">
  <main>
    <HeroSection client:visible />
    <ValueSection client:visible />
    <FeaturesSection client:visible />
    <ValuesSection client:visible />
  </main>
</BaseLayout>
