---
import PublicLayout from "@/layouts/PublicLayout.astro";
import HeroSection from "@/components/homepage/HeroSection";
import ValueSection from "@/components/homepage/ValueSection";
import FeaturesSection from "@/components/homepage/FeaturesSection";
import ValuesSection from "@/components/homepage/ValuesSection";
---

<PublicLayout title="Tembo Tech Ventures">
  <main>
    <HeroSection client:visible isAuthenticated={Boolean(Astro.locals.user)} />
    <ValueSection client:visible />
    <FeaturesSection client:visible />
    <ValuesSection client:visible />
  </main>
</PublicLayout>
